.footer {
    background-color: #fff;
    color: #333;
    font-family: "Times New Roman", serif;
}

.footer-img img {
    width: 100%;
    height: auto;
    display: block;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    padding: 10px 40px;
}

.footer-left h3 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 15px;
}

.footer-left p {
    margin: 5px 0;
    font-size: 14px;
}

.footer-left .highlight {
    color: #b5a189;
    /* màu vàng nâu nhạt */
}

.footer-left a {
    color: #333;
    text-decoration: none;
}

.footer-left a:hover {
    text-decoration: underline;
}

.footer-right {
    font-style: italic;
    font-size: 14px;
    color: #000;
    text-align: right;
}

.footer-right .quote {
    margin: 0;
    font-size: 14px;
    line-height: 1.6;
}
